{% extends "base.html" %}

{% block title %}Create Expenses{% endblock %}

{% block content %}
<div class="px-2 py-4">
    <div class="sm:flex-auto mb-8 px-8">
        <h1 class="text-xl font-semibold text-gray-900">Create Expenses</h1>
        <p class="mt-2 text-sm text-gray-700">
            Add a new expense entry by providing relevant details such as title, amount, category, and description. This
            feature allows you to accurately record your spending and categorize expenses for better financial
            management and analysis.
        </p>
    </div>
    <form action="" method="post">
        <div class="flex flex-col gap-4">
            {{form}}
        </div>
        {% csrf_token %}
        <div class="flex mt-10 gap-2">
            <a href="{% url 'expenses:list' %}"
               class="bg-secondary px-4 py-2 rounded w-1/2 border hover:bg-secondaryHover duration-300 text-center">
                Cancel
            </a>
            <button
                    class="bg-primary px-4 py-2 rounded w-1/2 border hover:bg-primaryHover duration-300 text-white"
                    type="submit"
            >
                Create
            </button>
        </div>
    </form>
</div>
{% endblock %}
