<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}PocketFlow{% endblock %}</title>
    {% include 'head/css.html' %}
    {% include 'head/thirdparties.html' %}
</head>
<body class="bg-gray-900">
<div class="flex justify-center">
    <div class="max-w-[40rem] w-full bg-white relative">
        <header class="h-14 flex justify-between items-center px-4 fixed left-0 right-0 bg-white max-w-[40rem] mx-auto border-b z-50">
            <div class="flex gap-2">
                <a href="#">
                    <img src="{% static 'images/common/logo.png' %}" width="100" alt="logo">
                </a>
            </div>

            <div class="flex items-center">
                <button class="text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="30" viewBox="0 0 24 24"
                         stroke-width="2.5"
                         stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>
            </div>
        </header>

        <main class="flex flex-col gap-2 py-16 min-h-screen">
            {% block content %}{% endblock %}
        </main>

        <nav class="fixed bottom-0 left-0 right-0 bg-white border-t h-14 flex max-w-[40rem] mx-auto w-full shadow">
            <a
                    href="#"
                    class="h-full w-1/3 hover:bg-gray-200 duration-500 flex items-center justify-center
                {% if request.resolver_match.app_name == 'overview' %}
                    bg-gray-200 text-primary pointer-events-none
                {% else %}
                    bg-white
                    cursor-pointer
                {% endif %}"
            >
                Overview
            </a>

            <a
                    href="{% url 'income:list' %}"
                    class="h-full w-1/3 hover:bg-gray-200 duration-500 flex items-center justify-center
                {% if request.resolver_match.app_name == 'income' %}
                    bg-gray-200 text-primary pointer-events-none
                {% else %}
                    bg-white
                    cursor-pointer
                {% endif %}"
            >
                Income
            </a>

            <a
                    href="{% url 'expenses:list' %}"
                    class="h-full w-1/3 hover:bg-gray-200 duration-500 flex items-center justify-center
                {% if request.resolver_match.app_name == 'expenses' %}
                    bg-gray-200 text-primary pointer-events-none
                {% else %}
                    bg-white
                    cursor-pointer
                {% endif %}"
            >
                Expenses
            </a>
        </nav>
    </div>
</div>
</body>
</html>
