{% block content %}
<div class="w-full py-2 px-4">
    <span class="text-lg">Overview</span>
    <div class="h-80 flex justify-center items-center bg-gray-200 rounded-lg mt-2">
        <span>Pie Chart</span>
    </div>
</div>

<div class="w-full py-2 px-4">
    <div class="flex justify-between items-center">
        <span class="text-lg">Income</span>
        <div class="flex gap-2">
            <button class="bg-secondary rounded border p-2 font-semibold hover:bg-secondaryHover duration-300">
                Edit
            </button>
            <button class="bg-primary rounded border p-2 font-semibold hover:bg-primaryHover duration-300">
                Create
            </button>
        </div>
    </div>
    <div class="h-80 flex justify-center items-center bg-gray-200 rounded-lg mt-2">
        <span>Bar Chart</span>
    </div>
</div>

<div class="w-full py-2 px-4">
    <div class="flex justify-between items-center">
        <span class="text-lg">Expenses</span>
        <div class="flex gap-2">
            <button class="bg-secondary rounded border p-2 font-semibold hover:bg-secondaryHover duration-300">
                Edit
            </button>
            <button class="bg-primary rounded border p-2 font-semibold hover:bg-primaryHover duration-300">
                Create
            </button>
        </div>
    </div>
    <div class="h-80 flex justify-center items-center bg-gray-200 rounded-lg mt-2">
        <span>Bar Chart</span>
    </div>
</div>
{% endblock %}